@charset "utf-8";
/* CSS Document */
@import url("https://fonts.googleapis.com/css?family=Cardo");
body,
html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffffff;
  font-size: 20px;
  font-family: 'Cardo';
}
@supports (display: grid) {
  body,
  html {
    display: block;
  }
}

.message {
  border: 1px solid #d2d0d0;
  padding: 2em;
  font-size: 1.7vw;
  -webkit-box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
          box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
}
@supports (display: grid) {
  .message {
    display: none;
  }
}

.section {
  display: none;
  padding: 2rem;
}
@media screen and (min-width: 100px) {
  .section {
    padding: 4rem;
  }
}
@supports (display: grid) {
  .section {
    display: block;
  }
}

h1 {
  font-size: 40px;
  margin: 0 0 1.5em;
	color: #5E4B8A;
}

.grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 150px;
  grid-auto-flow: row dense;
}

.item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #0c9a9a;
  color: #fff;
  grid-column-start: auto;
  grid-row-start: auto;
  background: url();
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
          box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  counter-increment: item-counter;
}
.item:nth-of-type(2n) {
  background-image: url(../images/ideo.jpg);
}	
.item:nth-of-type(3n) {
  background-image: url(../images/IMG_20171115_120921.jpg);
}
.item:nth-of-type(4n) {
  background-image: url(../images/users.jpg);
}
.item:nth-of-type(5n) {
  background-image: url(../images/psychotravail_plaquette.jpg);
}
.item:nth-of-type(6n) {
  background-image: url(../images/empathy.jpg);
}
.item:nth-of-type(7n) {
  background-image: url();
}
.item:nth-of-type(8n) {
  background-image: url(../images/microusabilitytest.jpg);
}
.item:nth-of-type(9n) {
  background-image: url(../images/giftoujours.gif);
}
.item:nth-of-type(10n) {
  background-image: url(../images/warh.jpg);
}
.item:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.item:hover:after {
  opacity: 0;
}
.item--medium {
  grid-row-end: span 2;
}
.item--large {
  grid-row-end: span 3;
}
.item--full {
  grid-column-end: auto;
}
@media screen and (min-width: 100px) {
  .item--full {
    grid-column: 1/-1;
    grid-row-end: span 2;
  }
}
.item__details {
  position: relative;
  z-index: 1;
  padding: 15px;
  background: #fff;
  letter-spacing: 1px;
  color: #5E4B8A;
}
.item__details:before {
  content: counter(item-counter);
  font-weight: bold;
  font-size: 1.1rem;
  padding-right: 0.5em;
  color: #444;
}

