@charset "utf-8";
.body {
	font-family: 'Cardo', serif;
	background-color: #FFFFFF;
}


.gif {
	background-size: cover;
	background-image: linear-gradient(rgba(94, 75, 138, 0.82), rgba(94, 75, 138, 0.82)), url(../gif_grue.gif);
}

#h1 
{
	font-family: 'Cardo', serif;
	font-weight: 700;
	font-size: 60px;	
	color: #5E4B8A;
	margin-left: 10px;
	line-height: 2;
}

#h2
{
	font-family: 'Cardo', serif;
	font-style: italic;
	font-size: 40px;
	color: #E7DBD8;
	margin-left: 8px;
	line-height: 55px;
  }
.corps {
	background-color: #FFFFFF;
  	width: 100%;
	margin: auto;
	  }
.corps h1 
{
	font-family: 'Cardo', serif;
	font-weight: 700;
	font-size: 60px;	
	color: #5E4B8A;
	margin-left: 8px;
	line-height: 70px;
}

.corps h2
{
	font-family: 'Cardo', serif;
	font-style: italic;
	font-size: 40px;
	color: #BC69A0;
	margin-left: 15px;
	line-height: 50px;
	padding: 25px;
  }

.divgauche p
{
	font-family: 'Cardo', serif;
	font-style: normal;
	font-size: 25px;
	color: #5E4B8A;
	margin-left: 80px;
	line-height: 33px;
	padding-top: 20px;
	margin-right: 30px;
  }

.divdroite {
	width: 20%;
	float: left;
	line-height: 30px;
	padding-top: 20px;
}

.divdroite p {
	font-family: 'Cardo', serif;
	font-style: italic;
	font-size: 23px;
	color: #5E4B8A;
	vertical-align: middle;
  }

.divgauche
{
	width: 55%;
	float: left;
	font-family: 'Cardo', serif;
	font-size: 23px;
	color: #bd6aa0;
	line-height: 26px;
	vertical-align: top;
	padding: 5px;
	text-align: justify;
  }

.menu {
	margin-bottom: 20px;
}

.menu img{
	padding-right: 100px;
	padding: 10px;
}

.menu p{
	margin-right: 60px;
	vertical-align: middle;
	
}
p.menu:hover {
	background: linear-gradient(to right, rgba(94,75,138, 0.18), rgba(94,75,138, 0.68));
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.contact {
	float: left;
}

.contact p{
	font-family: 'Cardo', serif;
	font-size: 32px;
	color: #5E4B8A;
	padding-left: 10%;
	padding-bottom: 5%;
}
.contact ul{
	font-family: 'Cardo', serif;
	font-size: 24px;
	padding-left: 20%;
	line-height: 24px;
	margin-bottom: 2px;
	margin-top: 10px;
	color: #BC69A0;	
}
	
footer
{
	font-family: 'Cardo', serif;
	font-style: normal;
	font-size:10px;
	background-color: #FFFFFF;
  }