@charset "utf-8";
.body { 
	font-family: 'Radnika Medium'serif; 
	background-color: #343148;
}

.gif { background-size: cover;
}

#h1 
{ font-family: 'Radnika Medium', serif; font-weight: 700; font-size: 80px; color: #F4F5F0; line-height: 2; text-align: center; 
}

#h2
{ font-family: 'Radnika Medium', serif; font-style: italic; font-size: 40px; color: #F4F5F0; margin-left: 8px; line-height: 55px;
  }
.content { display: flex; flex-direction: column;}
.corps { 
	background-color: #343148;
	text-align: center;
	width: 100%;
}
.corps h1 
{ font-family: 'Radnika Medium', serif; font-weight: 700; font-size: 80px; color: #F4F5F0; margin-left: 8px; line-height: 50px;
}

.corps h2
{ font-family: 'Radnika Medium', serif; font-style: italic; font-size: 60px; color: #F4F5F0; margin-left: 15px; line-height: 60px; padding: 25px;
  }

.corps p
{ font-family: 'Radnika Medium', serif; font-style: normal; font-size: 30px; color: #F4F5F0; margin-left: 80px; line-height: 42px; padding-top: 20px; margin-right: 30px;
  }

divdroite { 
	width: 20%; 
	float: right; 
	line-height: 30px; 
	padding-top: 20px; 
	align-content: space-around; 
	vertical-align: middle;
	margin-right: 10%;
}

divdroite p { 
	font-family: 'Radnika Medium', serif; 
	font-style: italic; 
	font-size: 30px; 
	color: #F4F5F0; 
	vertical-align: middle;
  }

.divgauche { 
	width: 60%;
	float: left;
	font-family: 'Cardo'; 
	font-size: 30px; 
	color: #F4F5F0; 
	line-height: 34px; 
	vertical-align: top; 
	padding: 5px; 
	text-align: justify;
	margin-left: 7%;
  }

.corps2 { background-color: #343148; display:flex; width: 100%; padding-left: 10px;
	  }
.corps2 h1 { font-family: 'Radnika Medium', serif; font-weight: 700; font-size: 40px; color: #F4F5F0; margin-left: 8px; line-height: 70px;
}
.corps2 h2 { font-family: 'Radnika Medium', serif; font-style: italic; font-size: 30px; color: #F4F5F0; margin-left: 15px; line-height: 50px; padding-top: 20px; padding-bottom: 5px;
  }
.divdroite2 { width: 30%; padding-top: 20px; display: flex; flex-direction: column; justify-content: space-between; align-content: center; padding-left: 10px;
}
.divgauche2 { width: 50%; font-family: 'Radnika Medium', serif; font-size: 22px; color: #5E4B8A; line-height: 26px; vertical-align: top; padding: 5px; text-align: justify; margin:auto;
  }
.divdroite3 { width: 30%; padding-top: 20px; display: flex; flex-wrap: wrap; align-content: space-around; padding-left: 10px;
}

.menu { margin-bottom: 20px;}

.menu img{ padding-right: 100px; padding: 10px;
}

.menu p{ 
	margin-right: 60px; 
	vertical-align: middle;
}
p.menu:hover { background: linear-gradient(to right, rgba(94,75,138, 0.18), rgba(94,75,138, 0.68));
}

.contact { background-color: #343148;
}
.contact p{ font-family: 'Radnika Medium', serif; font-size: 32px; color: #5E4B8A; padding-left: 10%; padding-bottom: 5%;
}
.contact ul{ 
	font-family: 'Radnika Medium', serif; 
	font-size: 24px; 
	padding-left: 20%; 
	line-height: 24px; 
	margin-bottom: 2px; 
	margin-top: 10px; 
	color: #BC69A0;
}